body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photograph-header h1 {
    /*font-size: 64px;*/
    color: #D3573C;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal,
#lightbox {
    display: none;

}

#lightbox .modal {
    background-color: #DB8876;
}

#contact_modal .modal {
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#lightbox .modal,
#contact_modal .modal {
    border-radius: 5px;
    width: 50%;

    padding: 35px;
    margin: auto;
    /*Positionnement*/
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 2;

}

#lightBox .modal header {
    text-align: right;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    /*text-align: center;*/
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

form input {
    height: 68px;
}

/*Mon CSS*/
.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    /*box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);*/
}

.media {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px;
}

.media article {

    width: 30%;
    margin-bottom: 40px;
}

.media article img,
.media article video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.media-card-infos {
    display: flex;
    justify-content: space-between;
}

/*LightBox*/

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    color: #901C1C;
    top: 70%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 64px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* The Close Button */
#lightbox .modal-close-btn {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.carousel-item-img {
    width: 400px;
    height: 300px;
}